/* Module */
body, .form-control, .btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: inherit;
}

a {
	cursor: pointer;
}

.input-group + .input-group {
	margin-top: 3px;
}

label.s_help {
	padding-top: 0px!important;
}

label.s_help b {
	display: block;
	font-size: 12px!important;
	color: #888;
	font-weight: normal;
	margin-top: 2px;
	line-height: 15px!important;
}

table.rating td { padding: 4px 5px; }