/* Compatibility */
label {
	color: #666;
	cursor: default;
	font-size: 13px!important;
	font-weight: 600!important;
}

#menu, #menu * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#menu > ul .top {
	line-height: 15px;
}

#menu > ul li li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
}

#menu > ul > li > ul {
	display: none!important;
	overflow: hidden!important;
	visibility: hidden!important;
}

#menu > ul > li.sfHover > ul {
	display: block!important;
	overflow: visible!important;
	visibility: visible!important;
}

.page-header {
	border: none;
	margin: 0px 0;
}

.page-header .pull-right {
	margin-top: 10px;
}

.panel-title {
	display: inline-block!important;
}

.panel-heading .pull-right {
	margin-top: -6px;
}

h1 {
	font-size: 21px;
	line-height: 23px;
}

.btn {
	outline: none!important;
	padding: 8px 13px!important;
}

.btn-default:hover {
	background: #F8F8F8!important;
}

.btn-xs {
	font-size: 10.5px;
	padding: 1px 5px!important;
}

.btn:visited {
	color: #fff!important;
}

.btn-default:visited {
	color: #333333!important;
}

.form-control {
	display: inline-block!important;
	position: relative!important;
	z-index: 0!important;
}

.input-group-addon img {
	margin-top: -3px;
}

input, select, textarea, .input-group-addon {
	padding: 5px 10px!important;
	vertical-align: middle!important;
	font-weight: normal;
}

table td input[type="text"], table td select {
	width: auto!important;
}

.input-group-addon {
	min-width: 37px;
}

div.required .control-label:not(span):before, td.required:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

input[type="checkbox"] {
	margin-top: -2px;
	width: 15px!important;
	height: 15px!important;
	padding: 0 10px 10px 0!important;
	line-height: 3.3;
}

.table thead td {
	font-weight: 600;
}

.table thead > tr > td, .table tbody > tr > td {
	vertical-align: middle;
	white-space: nowrap;
}
.table a.asc:after {
	content: " \f107";
	font-family: FontAwesome;
	font-size: 14px;
}
.table a.desc:after {
	content: " \f106";
	font-family: FontAwesome;
	font-size: 14px;
}

.text-danger {
	font-weight: normal;
}

.nav-tabs {
	margin-bottom: 20px;
}

.nav-tabs > li > a {
	border: 1px solid #DDD;
	border-bottom: none;
}

.alert {
	padding: 10px!important;
}

.links {
	margin-bottom: 4px;
}

.links a {
	display: inline-block;
	padding: 3px 6px;
	border: 1px solid #ddd;
	text-decoration: none;
}

.links a {
	border: 1px solid #ddd;
	text-decoration: none;
}