@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700&subset=cyrillic,cyrillic-ext');
//font-family: 'Fira Sans', sans-serif;
$font: 'Fira Sans', sans-serif;
$color: #3b3b3b;
$color1: #e84814;
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}
body{
	background: #ededed;
	font-family: $font;
	line-height: 1.2;
}
body *{
	outline: none;
}
p{
	margin: 0;
}
#wrapper{
	max-width: 1200px;
	margin: 0 auto;
	font-family: $font;
	.header-top{
		display: flex;
	    width: 100%;
	    justify-content: space-between;
	    background: #fff;
	    padding: 9px 35px 9px 25px;
	    box-sizing: border-box;
	    position: relative;
	    z-index: 2;
	    .left_block_header{
	    	display: flex;
	    	align-items: center;
	    }
	    .right_block_header{
	    	display: flex;
	    	align-items: center;
	    	.wr_bl{
	    		display: flex;
	    		align-items: center;
	    		p{
	    			margin: 0;
	    			font-size: 14px;
	    		}
	    		a{
	    			position: relative;
	    			display: inline-block;
	    			text-align: center;
	    			color: #000;
	    			text-decoration: none;
	    				div{
	    					display: inline-block;
	    					position: relative;
	    					min-height: 27px;
	    					.icon_count{
	    						position: absolute;
	    						background: #f24841;
	    						color: #fff;
	    						top: -7px;
	    						line-height: 1;
	    						right: -10px;
	    						border-radius: 50%;
	    						width: 15px;
	    						height: 15px;
	    						font-size: 10px;
	    						display: flex;
	    						align-items: center;
	    						justify-content: center;
	    				}
	    				span#wish_icon {
	    				    right: -6px;
	    				}

	    			}
	    		}
	    		.wish_and_comp{
	    			display: flex;
	    			align-items: center;
	    			a:nth-of-type(1){
	    				padding-right: 35px;
	    			}
	    		}
	    		.login{
	    			padding-left: 50px;
	    		}
	    		#cart{
	    			padding-left: 35px;
	    			margin-bottom: 0;
	    			padding-right: 25px;
	    			&:hover > .dropdown-menu{
	    				display: block;
	    			}
	    		}
	    	}
	    }
	}
}
#logo{
	margin-right: 50px;
}
#telephones{
	font-size: 15px;
	text-transform: uppercase;
	a{
		font-size: 15px;
		color: #000;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.telephone_1_drop,.telephone_2_drop{
		display: none;
	}
	.telephone_1,.telephone_2{
		display: flex;
		padding: 5px 0;
		.telephone_1_title,.telephone_2_title{
			min-width: 70px;
			text-align: right;
			color: #000;
			line-height: 1.2;
		}
		.pad{
			padding-left: 50px;
			background: url('/catalog/view/theme/default/img/Opta.png') no-repeat;
			background-position: 27px;
			.click_down{
				display: inline-block;
				padding: 0 10px;
				cursor: pointer;
			}
		}
	}
}
#block_menu{
	display: flex;
	width: 100%;
	background: #005496 url('/catalog/view/theme/default/img/sherlock.png') no-repeat;
	position: relative;
	z-index: 1;
	#menu{
        max-width: 753px;
		width: 100%;
		ul{
			list-style-type: none;
		}
		& >	ul{
			& > li a{
				font-weight: 600;
			}
		}
      .menu{
  	    display: flex;
  	    align-items: center;
  	    margin: 0;
  	    justify-content: space-between;
  	    li{
  	    	position: relative;
  	    	a{
  	    		color: #fff;
  	    		line-height: 1.5;
  	    		text-transform: uppercase;
  	    		text-decoration: none;
  	    		font-size: 14px;
  	    		padding: 19px 20px 20px 15px;
  	    		display: inline-block;
  	    		img{
  	    			padding-left: 10px;
  	    			vertical-align: middle;
  	    		}
  	    	}
  	    	&:hover{
  	    		background: #014478;
  	    		box-shadow: 0 1px 2px 1px rgba(1,68,120,.75);
  	    		.menu_drop{
  	    			display: block;
  	    		}
  	    	}
  	    	.menu_drop{
  	    		position: absolute;
  	    		background: #014478;
  	    		top: 60px;
  	    		left: 0;
  	    		min-width: 215px;
  	    		box-shadow: 0px 2px 6px 0px rgba(57, 57, 57,0.75);
  	    		ul{
  	    			padding-left: 0;
  	    			li{
  	    				padding: 0;
  	    				padding: 9px 0;
  	    				transition: all .5s ease;
  	    				a{
  	    					color: #fff;
  	    					line-height: 1.5;
  	    					text-transform: none;
  	    					padding: 7px 20px 7px 15px;
  	    					display: inline-block;
  	    				}
  	    				&:hover{
  	    					box-shadow: none;
  	    					background: #393939;
  	    				}
  	    			}

  	    		}

  	    	}
  	    }
  	    .menu_drop{
  	    	display: none;
  	    }
      }
	}
	#search{
		background: #1669aa;
	    display: flex;
	    align-items: center;
	    padding: 0 15px;
	    width: 100%;
	    max-width: 324px;
	    box-sizing: border-box;
	    label{
	    	width: 100%;
	    	display: block;
	    	max-width: inherit;
	    	margin-bottom: 0;
	    	font-weight: 400;
	    }
	    input{
	    	background: transparent;
	    	color: #fff;
	    	line-height: 1;
	    	border: none;
	    	outline: none;
	    	font-size: 16px;
	    	padding-left: 10px;
	    	box-sizing: border-box;
	    	width: calc(100% - 36px);
	    	@include placeholder{
              color: #fff;
              font-size: 16px;
	    	}
	    }
	    button{
	    	background: no-repeat;
	    	border: none;
	    	cursor: pointer;
	    	outline: none;
	    }
	}
	&:hover{
		z-index: 3;
	}
}
#price_click{
	width: 100%;
	max-width: 126px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	a{
		color: #fff;
	    font-size: 14px;
	    text-decoration: none;
	    text-transform: uppercase;
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	    padding: 22px 0;
	    box-sizing: border-box;
		img{
			display: inline-block;
			padding-left: 10px;
		}
	}
	.price_click_drop{
		position: absolute;
		left: 0;
		right: 0;
		top: 60px;
		background: #014478;
		box-shadow: 0px 2px 6px 0px rgba(57, 57, 57,0.75);
		display: none;
		transition: all .5s ease;
		a{
			font-size: 12px;
			padding: 10px 0;
			display: block;
			transition: all .5s ease;
			&:hover{
				background: #393939;
			}
		}
	}
	&:hover{
		.title{
			display: block;
		}
	}
	.title{
		position: absolute;
		background: #404040;
		padding: 10px 10px;
		min-width: 172px;
		font-size: 12px;
		text-align: center;
		color: #fff;
		top: -22px;
		display: none;
		font-size: 12px;
		line-height: 1;
		&:after{
			content: ' ';
		    width: 0;
		    height: 0;
		    top: 32px;
		    position: absolute;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
		    border-top: 8px solid #404040;
		    left: calc(50% - 4px);
		}
	}
}

// swiper=-=-=

    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    #main_slider{
    	margin-top: 28px;
    	box-shadow: 0 3px 5px 0px rgba(162, 162, 162,0.5);
    	position: relative;
    	z-index: 0;
    	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    	    border-radius: 0;
    	    width: 11px;
    	    height: 11px;
    	    background: #fff;
    	    opacity: 1;
    	}
    	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    	    outline:4px solid #005496;
    	}
    	.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets span {
    	    margin: 0 6px;
    	}
    }

// Преимущества=-=-=-

.advantages{
	background: #fff;
	display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: -1;
    .advantages_child {
        width: 25%;
        display: flex;
        align-items: flex-start;
        border-left: 1px solid #ddd;
        padding-left: 30px;
        padding-top: 25px;
        min-height: 92px;
        box-sizing: border-box;
        div:nth-of-type(1){
        	margin-right: 20px;
        }
        div:nth-of-type(2){
        	p{
        		margin: 0;
        		font-size: 14px;
        		font-weight: 600;
        		line-height: 1;
        		text-transform: uppercase;
        		color: $color;
        		margin-bottom: 10px;
        	}
        	p + p{
        		font-weight: 400;
        		font-size: 10px;
        		line-height: 1.5;
        		span{
        			display: block;
        		}
        	}
        }
    }
}


// specials=-=-=

.block_p{
	margin-top: 100px;
	.swiper-container {
	    padding-bottom: 10px;
	}
	& > .title{
		position: relative;
		font-size: 22px;
		color: #000;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 30px;
		.swiper-button-next{
		    background-image: url('/catalog/view/theme/default/img/arrow_slider.png');
		    background-size: contain;
		    width: 15px;
		    height: 24px;
		    transform: rotate(180deg);
		    right: 0;
		    margin-top: 0;
		    top: 0;
		}
		.swiper-button-prev{
			background-image: url('/catalog/view/theme/default/img/arrow_slider.png');
			background-size: contain;
			width: 15px;
			height: 24px;
			left: inherit;
			right: 55px;
			margin-top: 0;
			top: 0;
		}
	}
	.special_block{
		padding: 25px 22px;
		box-sizing: border-box;
		box-shadow: 0 3px 7px 0px rgba(0,0,0,0.14);
        .title{
        	text-align: left;
        	a{
    	       	font-weight: 600;
    	       	font-size: 17px;
    	       	color: #000;
    	       	line-height: 1.5;
    	       	text-decoration: none;
    	       }
        }
        .sku{
        	text-align: left;
        	font-weight: 600;
        	font-size: 17px;
        	color: #000;
        	line-height: 1.5;
        	text-transform: uppercase;
        }
        .img{
        	position: relative;
        	margin-top: 10px;
        	.stiker_wr{
        		position: absolute;
        		left: 0;
        		top: 10px;
        	}
        	img{
        		max-width: 100%;
        		height: auto;
        	}
        }
        .description{
        	font-size: 12px;
        	line-height: 1.5;
        	min-height: 60px;
        	margin-bottom: 10px;
        }
        .price_wrap{
        	display: flex;
        	align-items: flex-end;
        	&>div{
        		width: 50%;
        		text-align: right;
        	}
        	.wish_comp{
        		display: flex;
        		justify-content: flex-end;
        		display: flex;
        		justify-content: flex-end;
        		align-items: center;
        		cursor: pointer;
        		span{
        			display: inline-block;
        		}
        		span:nth-of-type(2){
        			margin-left: 15px;
        		}
        	}
        	.price{
        		font-size: 12px;
        		font-weight: 500;
        		color: #dc0202;
        		text-align: left;
        		min-height: 44px;
        		display: flex;
        		flex-direction: column;
        		align-items: flex-start;
        		justify-content: flex-end;
        		p{
        			font-weight: 700;
        			font-size: 21px;
        			line-height: 1.5;
        			margin: 0;
        			color: #000;
        		}
        		.cross{
        			padding: 0 3px;
        			position: relative;
        			display: inline-block;
        			&:after{
        				content: ' ';
        				display: block;
        				height: 2px;
        				width: 100%;
        				background: #dc0202;
        				opacity: .3;
        				top: calc(50% - 1px);
        				position: absolute;
        			}
        		}
        	}
        	.time{
        		p:nth-of-type(1){
        			font-size: 10px;
        			color: $color;
        			line-height: 1.5;
        		}
        		p:nth-of-type(2){
        			font-size: 17px;
        			color: $color1;
        			font-weight: 600;
        			line-height: 1.5;
        		}
        	}
        }
        .btn_sp{
        	margin-top: 10px;
        	button{
        		border: none;
        		font-size: 16px;
        		text-transform: uppercase;
        		width: 100%;
        		padding: 10px 0;
        		background: $color1;
        		color: #fff;
        		cursor: pointer;
        		transition: all .5s ease;
        		&:hover{
        			background: #393939;
        		}
        	}
        }
	}
}
#new_product .special_block{
	.btn_sp{
		margin-top: 10px;
		display: flex;
		    justify-content: space-between;
		button{
			max-width: 180px;
		}
		button + button{
			max-width: 42px;
			width: 100%;
			height: 38px;
			background: #00ad5d url(/catalog/view/theme/default/btn_arrow.png) no-repeat;
			background-position: center;
			position: relative;
			&:hover .one_title{
				display: block;
			}
			.one_title{
				position: absolute;
			    background: #404040;
			    padding: 10px 10px;
			    min-width: 127px;
			    font-size: 12px;
			    text-align: center;
			    color: #fff;
			    top: -42px;
			    display: block;
			    font-size: 12px;
			    line-height: 1;
			    text-transform: none;
			    font-weight: 400;
			    left: -56px;
			    display: none;
			    &:after{
			    	content: ' ';
			    	width: 0;
			    	height: 0;
			    	top: 32px;
			    	position: absolute;
			    	border-left: 8px solid transparent;
			    	border-right: 8px solid transparent;
			    	border-top: 8px solid #404040;
			    	left: calc(50% - 4px);
			    }
			}
		}
	}
}

#banner_1,#banner_second{
	margin-top: 70px;
}
// news-=-=-

#new_blog{
	.new_blog_wr{
		display: flex;
		.blog_img{
			font-size: 0;
		}
		.blog_desc{
			padding: 20px 20px 0 20px;
			.blog_title{
				display: flex;
				justify-content: space-between;
				div:nth-of-type(1){
					color: #005496;
					font-size: 13px;
					font-weight: 600;
					text-transform: uppercase;
				}
				.date{
					font-weight: 500;
					font-size: 13px;
					color: #000;

				}
			}
			.new_title{
				font-size: 17px;
				font-weight: 700;
				line-height: 1.2;
				margin: 20px 0;
				text-align: left;
			}
			.descr{
				font-size: 13px;
				font-weight: 400;
				line-height: 1.2;
				text-align: left;
			}
			.blog_btn{
				text-align: left;
				margin-top: 20px;
				a{
					color: $color1;
					font-size: 13px;
					text-decoration: none;
					transition: all .5s ease;
					&:hover{
						color: #393939;
					}
				}

			}
		}
	}
	.swiper-container {
	    padding-bottom: 0;
	}
}
#manufacturer{
	background: #005496;
	box-sizing: border-box;
	margin-top: 70px;
	margin-bottom: 70px;
	.title{
		font-size: 19px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		padding-top: 50px;
		text-align: center;
	}
	.swiper-container{
		padding: 60px 0;
	}
	.swiper-slide{
		background: transparent;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.swiper-button-next {
	    background-image: url('/catalog/view/theme/default/img/manuf/manuf_arrow.png');
	    width: 10px;
	    height: 16px;
	    right: -50px;
	    left: auto;
	    background-size: 10px 16px;
	    margin-top: 0;
	    top: calc(50% - 8px)
	}
	.swiper-button-prev {
	    background-image: url('/catalog/view/theme/default/img/manuf/manuf_arrow.png');
	    left: -50px;
	    right: auto;
	    width: 10px;
	    height: 16px;
	    background-size: 10px 16px;
	    transform: rotate(180deg);
	    margin-top: 0;
	    top: calc(50% - 8px)
	}
	.wr_manuf{
		position: relative;
		margin: 0 90px;
	}
}

.welcome{
	margin-bottom: 70px;
	p{
		font-size: 13px;
		    line-height: 18px;
	}
	li{
		line-height: 1.5;
	}
	.title_welcome{
		font-weight: 600;
		margin-bottom: 20px;
	}
}
#subscribe{
	background: #fff;
	padding: 22px 10px;
	.subscribe{
		max-width: 716px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	.subscribe_title{
		font-size: 17px;
		color: $color;
		display: flex;
		align-items: center;
	}
	.wrap_form{
		width: 100%;
		max-width: 460px;
		justify-content: space-between;
		    display: flex;
		label{
			width: 100%;
			max-width: 303px;
			display: inline-block;
			box-sizing: border-box;
			input{
		    	@include placeholder{
	              color: #cdcdcd;
	              font-size: 15px;
		    	}
		    	padding: 8px 15px;
		    	width: 100%;
		    	font-size: 15px;
		    	outline: none;
		    	box-sizing: border-box;
			}
		}
		.subscribe_btn{
			width: 100%;
		    max-width: 138px;
		    height: 38px;
		    border: none;
		    background: $color1;
		    color: #fff;
		    cursor: pointer;
		    font-weight: 600;
		    font-size: 15.46px;
		    transition: all .5s ease;
		    &:hover{
               background: $color;
		    }
		}

	}
}

#footer{
	background: #005496;
	color: #fff;
	a{
		color: #fff;
	}
	ul{
		margin: 0;
	}
	.footer_bottom{
		a i{
			transition: all .5s ease;
		}
		a i:hover{
            transform:scale(1.1);
		}
	}
}

// попап входа -=-=-
.wel_modal{
	position: relative;
	z-index: 9992;
}
#header_load.act{
	opacity: 1;
	visibility: visible;
}
#welcome_load{
	position: relative;
	#header_load{
		position: absolute;
		width: 300px;
		right: 0;
		opacity: 0;
		top: 30px;
		transition: all .3s ease;
		visibility: hidden;
		box-shadow: 0 2px 2px 1px rgba(134,134,134,.5);
		background: #fff;
		z-index: 5;
		.title_n{
			padding: 25px 0 0 0;
			margin: 0 25px 0 25px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #e0e0e0;
			.item11{
				text-align: left;
				margin: 0;
				span{
					font-size: 14px;
					text-transform: uppercase;
					display: inline-block;
					border-bottom: 3px solid $color;
					line-height: 1.5;
					margin-bottom: -2px;
				}
			}
			.btn_close{
	            padding: 5px 5px;
	            cursor: pointer;
			}
		}
		.login_wr{
			padding: 0 25px;
			box-sizing: border-box;
			.login-form{
				text-align: left;
				input{
					width: 100%;
					border-radius: 0;
					font-size: 14px;
				}
				.color{
					color: red;
				}
			.title_pop{
				font-size: 14px;
				color: #000;
				line-height: 1.5;
			}
			.input-email{
				padding-top: 15px;
			}
			.input-password{
				padding: 10px 0;
			}
		}
		.buttons{
			p{
				margin-bottom: 15px;
				font-size: 14px;
				color: #000;
				line-height: 1.5;
				a{
					border-bottom: 2px dashed $color;
					text-decoration: none;
					transition: all .5s ease;
					color: $color;
					&:hover{
						border-bottom: 2px solid $color;
					}
				}
			}
		}
		}
		.razd{
			width: 100%;
			height: 1px;
			background: #e0e0e0;
			margin: 40px 0;
			position: relative;
			span{
				position: absolute;
				width: 35px;
				height: 35px;
				left: calc(50% - 17.5px);
				top: calc(50% - 17.5px);
				border: 1px solid #e0e0e0;
				border-radius: 20px;
				background: #fff;
				align-items: center;
				display: flex;
				font-size: 14px;
				color: #000;
				justify-content: center;
			}
		}
		.main_social{
			text-align: center;
			p{
				font-size: 14px;
				color:#000;
				line-height: 1.5;
				padding-bottom: 20px;
			}
			.reg span{
				color: #000;
				font-size: 14px;
				padding: 0 3px;
			}
			.zareg{
				color: $color;
				transition:all .3s ease;
				&:hover{
					color: #000;
				}
			}
		.soc_link{
			padding-bottom: 20px;
		}
		.reg_main{
			padding: 5px 0;
			border-top: 1px solid #e0e0e0;
		}
		}
		&.act{
          opacity: 1;
          visibility: visible;
		}
		.btn_all{
			border: none;
		    font-size: 16px;
		    text-transform: uppercase;
		    width: 100%;
		    padding: 10px 0;
		    background: $color1;
		    color: #fff;
		    cursor: pointer;
		    -webkit-transition: all .5s ease;
		    transition: all .5s ease;
		    &:hover{
		    	background: #393939;
		    }
		}
	}
	 img {
	    padding-right: 10px;
	}
	.btn_close{
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		z-index: 5;
		transition: all .5s ease;
		 span {
		    width: 70%;
		    height: 2px;
		    background: #e84815;
		    display: block;
		    position: absolute;
		}
		.line1 {
		    top: 48%;
		    left: 3px;
		    -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    -webkit-transform: rotate(45deg);
		    -o-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		.line2 {
		    top: 48%;
		    left: 3px;
		    -moz-transform: rotate(315deg);
		    -ms-transform: rotate(315deg);
		    -webkit-transform: rotate(315deg);
		    -o-transform: rotate(315deg);
		    transform: rotate(315deg);
		}
		&:hover{
			transform: rotate(180deg);
		}
	}
}
#background_site{
	position: fixed;
	background: rgba(0,0,0,0.3);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: none;
}







#header_scroll_fix{
	display: none !important;
}
// ada=-=-=-







